# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/backend/node_modules
/frontend/node_modules
/backend/database/seeder.js
/backend/database/newUser.js
/backend/database/statRebuild.js
/backend/database/test.js
/backend/database/words.json
/frontend/src/components/TeamBanner/oldPrediction
/backend/.env