@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
#NavBar {
    position: absolute;
    width: 0;
    height: 0;
}
.line {
    position: relative;
    align-content: center;
    justify-content: center;
    left: -0.75rem;
    width: 8rem;
    height: 0.25rem;
    background-color: ivory;
}
.NavItems {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem 2rem 3rem;
    gap: 1rem;
    z-index: 100;
    font-size: 2rem;
    font-family: 'Russo One', sans-serif;
}
.NavItems a {
    text-decoration: none;
    color: ivory;
}
.NavItems a:hover {
    scale: 110%;
}
.NavItems a:active {
    scale: 100%;
}
