#ProfileBox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--offBlack);
    border: 5px solid var(--ArsenalRed);
    border-radius: 10px;
    height: auto;
    max-width: 900px;
    width: 100%;
    color: ivory;
}
.UserIcon {
    margin-top: 20px;
    max-width: 230px;
    max-height: 230px;
}
