@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
#header {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-family: "Russo One", sans-serif;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.matchCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}
