@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
#header {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-family: "Russo One", sans-serif;
}
#currentMatch {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.vs {
    font-size: 4rem;
    font-family: 'Russo One', sans-serif;
}
