.main_content {
    padding: 0;
    margin: 0;
}
.main_content h3 {
    position: relative;
    text-align: center;
}
.matches {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.text p {
    font-size: 100px;
    color: black;
    position: relative;
    top: 25vh;
    font-size: 60px;
    font-weight: bold;
}
#currentMatch {
    display: flex;
    flex-direction: row;
}
