.Momentum {
    position: relative;
    display: block;
    overflow: hidden;
    left: 15rem;
    padding: 0px;
    margin: 0px;
    scale: 80%;
    width: 3%;
    height: 130px;
    border: 4px solid var(--ArsenalRed);
    border-radius: 25px;
    transition: width 0.3s;
    transform-origin: left center; 
}
.Momentum:hover {
    width: 25%;
}
