#teamName {
  font-weight: 100;
  transform: translate(-50%, -50%);
}

#teamIcon {
  transform: translateX(-50%);
}

#bottom {
  transform: translate(-50%, -50%);
}

#back {
  transform: rotateY(180deg);
}

