:root {
    --ArsenalRed: #EF0107;
    --ArsenalDarkRed: #DB0007;
    --ArsenalBlue: #063672;
    --ArsenalGold: #9C824A;
    --softText: #ff5c5c;
    --softText2: #5c80ff;
    --softSelect: #c8ffc7;
    --offBlack: rgb(36, 28, 28);
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
html {
    background-color: wheat;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0.25rem;
  } ::-webkit-scrollbar-track {
    background-color: var(--ArsenalDarkRed);
  } ::-webkit-scrollbar-thumb {
    background-color: var(--ArsenalGold);
  }


