.registerForm {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
h1 {
    position: relative;
    margin: 0;
    padding: 10px;
}
